/* HW by Alexander Zhukov */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
}

.header {
    height: 75px;
    background-color: #222222;
}

.header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header-area1 {
    width: 150px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 16px;
}

.top-header-area2 {
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 16px;
}

.header-item {
    padding: 30px;
    position: relative;
}

.header-menu-button {
    background-image: url(imgs/header-menu.svg);
    width: 32px;
    height: 23px;
}

/* --- Menu ---  */

.mega-box-menu {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    max-width: 240px;
    margin-right: -186px;
    position: absolute;
    right: 0;
    top: 75px;
    padding: 10px;
    display: none;
}

.mega-box-menu::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    top: -5px;
    transform: rotate(45deg);
}


.header-menu:hover .mega-box-menu {
    display: flex;
}

.menu-box-close {
    width: 12px;
    height: 12px;
    max-width: 8em;
    min-height: -2em;
    margin-left: auto;
    margin-right: 19px;
    margin-top: 25px;
    padding: 10px;
}

.menu-box-close:hover .mega-box-menu {
    display: none;
}

.mega-item {
    display: flex;
    flex-direction: column;
}

.mega-menu-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 5px;
    margin-left: 28px;
    margin-right: 144px;
}

.mega-heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 28px;
    margin-right: 144px;
}

.mega-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 48px;
    margin-bottom: 9px;
    display: block;
}

.mega-link:hover {
    color: #F16D7F;
    font-size: 15px;
}


/* --- Underheader ---  */

.underheader-background {
    height: 764px;
    border-radius: 0px;
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
}

.underheader-background-spaces-1 {
    width: 50%;
}

.underheader-background-spaces-2 {
    width: 50%;
}

.hbs-group10 {
    margin-top: 290px;
    margin-left: 63px;
}

.hbs-layer57 {
    float: right;
}

/* --- Offers --- */
.offer {
    margin-top: 65px;
    align-items: center;
    flex-direction: column;
}

.offer-level1 {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.offer-level2 {
    display: flex;
    margin-top: 30px;
}

.ol1-items-size {
    width: 360px;
    height: 260px;
}

.ol1-items1 {
    background-image: url(imgs/Group\ 36.svg);

}

.ol1-items2 {
    background-image: url(imgs/Group\ 37.svg);

}

.ol1-items3 {
    background-image: url(imgs/Group\ 38.svg);

}

.offer-level2 {
    display: flex;
    justify-content: center;
}

.ol2-items-size {
    width: 1140px;
    height: 180px;
}

.ol2-items1 {
    background-image: url(imgs/Group\ 39.svg);

}


/* --- Products --- */
.products {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
}

.features-top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ft-header1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.ft-header2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.features-products {
    width: 1200px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fp-line {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.fp-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    Width: 360px;
    Height: 581px;
    background: #F8F8F8;
}

.fp-block-details {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.fp-block-details-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}

.fp-block-details-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px;
}

.fp-block-details-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px;
}

.products-all {
    margin-top: 48px;
}

.products-all-button {
    height: 46px;
    width: 210px;
    padding: 23px 105px;
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
}


/* --- features --- */

.features-background {
    margin-top: 95px;
    height: 341px;
    background: #222224;
}

.features {
    display: flex;
    justify-content: space-around;
}

.feature-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 360px;
    height: 100px;
}

.feature-icon {
    margin-top: 100px;
}

.feature-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
}

.feature-details {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    width: 360px;
    margin-top: 16px;
}


/* --- subscription --- */

.subscription {
    height: 448px;
}

.subscription-background {
    background-image: url(imgs/photo\ subscribe.jpg);
    height: 448px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.subscribe-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-top: 86px;
}

.feedback-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    width: 360px;
    margin-top: 30px;
}

.subscription-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-top: 150px;
}

.subscription-form-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.subscription-form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    height: 49px;
}

.subscription-form-field-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.subscription-form-field-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100px;
    height: 49px;
    background: #F16D7F;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* --- footer --- */
.footer {
    background: #222224;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social-icons-area {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}