/* HW by Alexander Zhukov */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

@import "vars";

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: center;
}

.header {
    height: 75px;
    background-color: #222222;
    width: 100%;
    margin: 0 auto;
}

.header-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-header-area1 {
    max-width: 150px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-right: 400px;
}

.top-header-area2 {
    max-width: 200px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: 100px;
}

.header-item {
    padding: 30px;
    position: relative;
}

.header-menu-button {
    background-image: url(imgs/header-menu.svg);
    width: 32px;
    height: 23px;
}

/* --- Menu ---  */

.mega-box-menu {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    max-width: 240px;
    margin-right: -186px;
    position: absolute;
    right: 0;
    top: 75px;
    padding: 10px;
    display: none;
}

.mega-box-menu::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    top: -5px;
    transform: rotate(45deg);
}


.header-menu:hover .mega-box-menu {
    display: flex;
}

.menu-box-close {
    width: 12px;
    height: 12px;
    max-width: 8em;
    min-height: -2em;
    margin-left: auto;
    margin-right: 19px;
    margin-top: 25px;
    padding: 10px;
}

.menu-box-close2:hover .mega-box-menu {
    display: none;
}

.mega-item {
    display: flex;
    flex-direction: column;
}

.mega-menu-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 5px;
    margin-left: 28px;
    margin-right: 144px;
    text-decoration: none;
}

.mega-heading {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 28px;
    margin-right: 144px;
    text-decoration: none;
}

.mega-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 48px;
    margin-bottom: 9px;
    display: block;
    text-decoration: none;
}

.mega-link:hover {
    color: #F16D7F;
    font-size: 15px;
}


/* --- Underheader ---  */

.underheader-background {
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
}

.underheader-background-spaces-1 {
    width: 50%;
}

.underheader-background-spaces-2 {
    width: 50%;
}

.hbs-group10 {
    margin-top: 290px;
    margin-left: 63px;
}

.hbs-layer57 {
    float: right;
}

/* --- Offers --- */
.offer {
    margin-top: 65px;
    align-items: center;
    flex-direction: column;
}

.offer-level1 {
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.offer-level2 {
    display: flex;
    margin-top: 30px;
}

.ol1-items-size {
    width: 360px;
    height: 260px;
}

.ol1-items1 {
    background-image: url(imgs/Group36.svg);

}

.ol1-items1 {
    display: flex;
    position: relative;
    width: 360px;
    height: 260px;
    justify-content: center;
}

.offer-items-text-box {
    position: absolute;
    top: 115px;
    left: 119px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offer-items-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.offer-items-for {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: #F16D7F;
    margin-top: 5px;
    text-decoration: none;
}

.ol1-items2 {
    background-image: url(imgs/Group37.svg);

}

.ol1-items3 {
    background-image: url(imgs/Group38.svg);

}

.offer-level2 {
    display: flex;
    justify-content: center;
}

.ol2-items-size {
    width: 1140px;
    height: 180px;
}

.ol2-items1 {
    background-image: url(imgs/Group39.svg);

}


/* --- Products Header --- */
.products {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
}

.features-top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ft-header {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-decoration: none;
}

.ft-header-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
    text-decoration: none;
}


/* --- Product items --- */


.item-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.item {
    display: flex;
    margin-bottom: 40px;
    position: relative;
    background-color: #F8F8F8;
}

.item-link {
    display: block;
    width: 360px;
    text-decoration: none;
}

.item-picture {
    width: 100%;
}

.text-box {
    padding: 20px;

}

.item-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 12px;
    text-decoration: none;
}

.item-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 16px;
    text-decoration: none;
}

.item-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    text-decoration: none;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    width: 360px;
}

.item:hover .item-picture {
    filter: brightness(30%);
}


.item-add-box {
    display: none;
    position: absolute;
    top: 188px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.item-add-box-link-button {
    display: flex;
    padding: 12px;
    align-items: center;
    border: 1px solid rgb(254, 254, 254);
    pointer-events: auto;
    text-decoration: none;
}

.item-add-box-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 8px;
    text-decoration: none;
    margin-top: 10px;
}

.item-add-box-link-button:hover {
    box-shadow: 0 0 10px #FFFFFF;
}

.item:hover .item-add-box {
    display: flex;
}

.products-all {
    margin-top: 48px;
}

.products-all-button {
    height: 46px;
    max-width: 120px;
    padding: 23px 60px;
    border: 1px solid #FF6A6A;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
}


/* --- features --- */

.features-background {
    margin-top: 95px;
    height: 341px;
    background: #222224;
}

.features {
    display: flex;
    justify-content: space-around;
}

.feature-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 360px;
    height: 100px;
}

.feature-icon {
    margin-top: 100px;
}

.feature-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    text-decoration: none;
}

.feature-details {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    width: 360px;
    margin-top: 16px;
    text-decoration: none;
}


/* --- subscription --- */

.subscription {
    height: 448px;
}

.subscription-background {
    background-image: url(imgs/photoSubscribe.jpg);
    height: 448px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.subscribe-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-top: 86px;
}

.feedback-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    max-width: 360px;
    margin-top: 30px;
    text-decoration: none;
}

.subscription-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-top: 150px;
}

.subscription-form-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    text-decoration: none;
}

.subscription-form-text-main {
    font-weight: 300;
}

.subscription-form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    height: 49px;
}

.subscription-form-field-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    text-decoration: none;
}

.subscription-form-field-text::placeholder {
    position: absolute;
    left: 30px;
    top: 17px;
}


.subscription-form-field-button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    width: 100px;
    height: 53px;
    background: #F16D7F;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    text-decoration: none;
}

/* --- footer --- */
.footer {
    background: #222224;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.social-icons-area {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.social-icon:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.social-icon:hover .social-icon-pic {
    filter: invert(100%);
}




/* --- catalog --- */

.navigation-breadcrumb {
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.breadcrumb-currentlocation {
    margin-right: 10px;
    width: 200px;
}

.breadcrumb-location-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-decoration: none;
}

.breadcrumb-nav {
    padding: 10px;
}

.breadcrumb-nav-item {
    display: inline-block;
}

.breadcrumb-nav-item:not(:last-of-type)::after {
    content: "/";
}

.breadcrumb-nav-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.breadcrumb-nav-curloc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-decoration: none;
}

/* --- catalog  Filter --- */


.filter-section {
    position: relative;
}

.filter-placeholder {
    display: flex;
    margin-left: -420%;
    margin-top: 51px;
    padding: 20px;
    position: relative;
    width: 130px;


    .filter-text {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        transform: uppercase;
        margin-right: 10px;
        text-decoration: none;
    }

    .filter-pic {
        position: absolute;
        left: 72px;
        top: 23px;
    }
}

.accordion {
    width: 360px;
    position: absolute;
    left: 8px;
    top: 42px;
    z-index: 99;
    display: none;

    .accordion-button {
        border-radius: 0px;
        border-left: 5px solid #EF5B70;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
        text-decoration: none;
    }
}

.filter-placeholder:hover .accordion {
    display: block;
}

.filter-placeholder:hover .filter-text {
    color: #EF5B70;
}

.filter-placeholder:hover .filter-pic {
    filter: invert(51%) sepia(74%) saturate(2193%) hue-rotate(317deg) brightness(96%) contrast(95%);
}

.filter-data-elements {
    display: flex;
    position: absolute;
    justify-content: space-around;
    max-width: 500px;
    left: 40%;
    top: 269px;
}


.filter-field {
    display: flex;
    padding: 20px;
}

.filter-field-header {
    display: flex;
}


.filter-field-icon {
    width: 10px;
    height: 5px;
    margin-left: 5px;

}

.dropdown-menu {
    display: block;
    width: 50px;
    top: 50px;
    border-radius: 0%;
}

.form-check {
    margin-left: 5px;
}

.form-check-input {
    border: 1px solid #EBEBEB;
    margin-left: -0.5em;
}

.form-check-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    text-decoration: none;
}

.form-check-label:hover {
    color: #EF5B70;
}

.filter-field:hover .dropdown-menu {
    display: block;
}


.catalog {
    margin-top: 64px;
    margin-left: 50%;
}



/* --- Registration --- */

.registration {
    margin-bottom: 96px;
    margin-top: 64px;
}

.registration-header {
    margin-left: -65%;
}

.registration-form {
    display: flex;
    flex-direction: column;

}

.reg-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.reg-formation {
    margin-bottom: 20px;
}

.reg-checkbox-area {
    display: flex;

    .reg-checkbox-gender {
        margin-right: 20px;

        .reg-gender {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            color: #000000;
        }
    }

}

.regPlaceholder {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 360px;
    height: 45px;
}

.reg-password-rules {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    width: 360px;
    margin-bottom: 39px;
}

.reg-join-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 167px;
    height: 50px;
    background: #F16D7F;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;

    .reg-join-btn-text {
        margin-left: 15px;
    }

    .reg-join-btn-pic {
        margin-right: 15px;
    }
}

.registration-info {
    margin-left: 20%;

    .reg-info-font {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 21px;
    }

}

.reg-perk {
    margin-bottom: 16px;
}


/* --- Product Page --- */

.product-image-slide {
    background-color: #F7F7F7;
    height: 777px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-image-pic {
    height: 700px;
    z-index: 5;
}

.product-button {
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
}

.product-description {
    height: 600px;
    max-width: 1140px;
    margin: -40px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;
    z-index: 99999;
}

.product-details {
    max-width: 555px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details-header {
    margin-top: 60px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.product-details-devider {
    height: 3px;
    max-width: 63px;
    margin-top: 12px;
}

.product-details-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 12px;
}

.product-details-info {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 12px;
}

.product-details-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top: 48px;
}

.product-details-line {
    max-width: 642px;
    height: 3px;
    margin-top: 64px;
}

.product-details-selection {
    margin-top: 65px;
    width: 360px;
    display: flex;
    justify-content: space-between;

    .product-details-selection-selector-name {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

    }

    .product-details-selection-selector-box {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #6F6E6E;
        text-align: left;
        margin-top: 10px;

        .pds-selector-list-item {
            list-style: none;
        }
    }

    .pds-selector-size {
        width: 70px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 20px;
        color: #6F6E6E;
        text-align: center;
    }
}

.product-add-box {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    text-align: center;

    .item-add-box-link-button {
        border: 1px solid #FF6A6A;

        .item-add-box-text {
            margin-top: 5px;
            color: #FF6A6A;
        }
    }
}

.product-other {
    margin: 128px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item-flex {
        width: 100%;
    }

}